.body-section .habits-layout {
  display: grid;
  grid-template-columns: 5fr 3fr;
}

.body-section .habits-layout .habits-grid {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
  margin: auto;
  padding: 30px 20px 20px 20px;
}

.body-section .habits-layout .habits-grid .habit-card:link,
.body-section .habits-layout .habits-grid .habit-card:visited,
.body-section .habits-layout .habits-grid .habit-card {
  text-decoration: none;
  color: black;
  width: 45%;
  flex: 0 0 45%;
  max-width: 45%;
  margin: 20px 2.5% 10px 2.5%;
  /* background-color: rgb(245, 250, 255); */
}

.body-section .habits-layout .habits-grid .habit-card .card-title {
  font-size: 25px;
  color: color-mix(in srgb, var(--primary-dark) 50%, rgb(38, 82, 3));
  background-color: aliceblue;
  font-weight: bold;
}

.body-section .habits-layout .habits-grid .habit-card {
  /* font-size: 25px; */
  background-color: color-mix(
    in srgb,
    var(--secondary) 20%,
    rgb(255, 255, 255)
  );
}

.body-section .habits-layout .habits-grid .habit-card:hover .card-title {
  /* font-size: 25px; */
  background-color: color-mix(
    in srgb,
    var(--secondary-light) 20%,
    rgb(255, 255, 255)
  );
}
.body-section .habits-layout .habits-grid .habit-card:hover {
  /* font-size: 25px; */
  background-color: color-mix(
    in srgb,
    var(--secondary) 50%,
    rgb(255, 255, 255)
  );
  transition: all ease 0.1s;
}
.body-section .habits-layout .habits-grid .habit-card .card-body {
  padding: 10px;
}
