.container {
  display: grid;
  grid-template-columns: 6fr 4fr;
}

.habit-info .card .card-body {
  padding: 20px 20px 20px 20px;
  background-color: aliceblue;
  color: var(--primary-dark);
}
.habit-info .card .card-body .habit-title {
  margin: 20px 20px 20px 20px;
}

.habit-info .card .card-body .habit-title * {
  display: inline;
}

.habit-info .card .card-body .habit-description {
  font-size: large;
}

.progress-ratio-bar {
  justify-content: left;
  
}
.progress-ratio-bar .green-ratio,
.progress-ratio-bar .red-ratio {
  height: 30px;
}
.progress-ratio-bar .green-ratio {
  background-color: rgb(0, 217, 255);
  border-radius: 15px 0 0 15px;
  flex: 0 0 70%;
}
.progress-ratio-bar .red-ratio {
  flex: 0 0 30%;
  background-color: rgb(255, 128, 0);
  border-radius: 0 15px 15px 0;
}
