:root {
  --colors: #647d87;
  --colors: #f6d776;
  --colors: #fa824c;
  --colors: #faef9b;
  --colors: #121619;

  --primary-dark: #264653;
  --primary: #2a9d8f;
  --primary-light: #abd1b5;
  --secondary: #f4a261;
  --secondary-light: #e9c46a;
  --dark: #121619;
  --light: #edf4ed;
  --contrast-color: #e76f51;
  
  /* 
  --primary-light: #abd1b5;
  --secondary: #555b6e;
  --dark: #121619;
  --light: #edf4ed;
  --contrast-color: #d7816a; */
}

@font-face {
  font-family: Signika;
  src: url(Signika.ttf);
}
body {
  font-family: Signika;
  background-image: url(../images/203518.jpg);
  background-size: cover;

}

/* header */
.header {
  /* height: 50px; */
  /* background-color: black; */
  /* background-color: var(--secondary-light); */
  background-color: #fff;
  display: flex;
}

/* logo */
.logo-container {
  float: left;
  padding: 5px 5px 5px 5px;
  margin-right: 50px;
  /* background-color: var(--secondary); */
}

.logo-container * {
  display: inline;
}

.logo-container h2 {
  padding-top: -200px;
}
.logo-image {
  height: 50px;
  width: 50px;
}

/* nav-bar */
.nav-bar {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
}

.nav-bar a {
  height: 40px;
  text-align: center;
  text-decoration: none;
  color: var(--primary-dark);
  padding: 24px 20px 0px 20px;
  width: 100px;
  /* background-color: var(--secondary-light); */
  /* vertical-align: middle; */
  font-size: larger;
}

.nav-bar a.active:hover,
.nav-bar a:hover {
  transition: all ease 0.2s;
  background-color: rgb(from var(--primary) r g b / 40%);
}

.nav-bar a.active {
  background-color: rgb(from var(--primary-light) r g b / 50%);
  /* background-color: var(--primary-light); */
}

.body-section {
  padding: 10px;
}

.grid-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.overview-section {
  flex: 0 0 50%;
  max-width: 50%;
}

.card {
  padding: 0px;
  margin: 5px;
  box-shadow: 2px 2px 5px #b0b0b0;
  background-color: rgb(from var(--primary-light) r g b / 70%);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  /* border: 1px solid rgba(255, 255, 255, 0.3); */
}

.card .card-title {
  text-align: center;
  font-size: 35px;
  padding: 10px 3px 10px 3px;
  background-color: rgb(from var(--primary-dark) r g b / 20%);
}
ul.habits-list {
  padding: 0;
}

.habit-progress {
  display: grid;
  grid-template-columns: 2fr 6fr;
  margin: 40px 10px 40px 5px;
}

.habit-progress .habit-title {
  margin: 0px 25px 0px 25px;
}
.habit-progress .habit-progress-bar {
  display: flex;
  margin: 0 20px 0 0px;
}

.habit-progress .habit-progress-bar .daily-state {
  width: 10%;
  height: 25px;
  flex: 0 0 10%;
  max-width: 10%;
  margin: 1px;
}

.habit-progress .habit-progress-bar .daily-state:first-child {
  border-radius: 5px 0px 0px 5px;
}

.habit-progress .habit-progress-bar .daily-state:last-child {
  border-radius: 0px 5px 5px 0px;
}

.habit-progress .habit-progress-bar .done {
  background-color: var(--primary);
}

.habit-progress .habit-progress-bar .not-done {
  background-color: var(--contrast-color);
}
